<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <!-- Post Title -->
    <mat-form-field>
      <input
        matInput type="text"
        placeholder="Post Title"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Post Title must be entered and must be at least 3 characters long.</mat-error>
    </mat-form-field>

    <!-- Post Content -->
    <mat-form-field>
      <textarea
        matInput rows="4"
        placeholder="Post Content"
        name="content"
        ngModel
        required
        #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">You must enter some Post Content</mat-error>
    </mat-form-field>

    <!-- Button Save Post -->
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post
    </button>
  </form>
</mat-card>
